@model IEnumerable<RozgrywkiAkademickie4.Models.Sport>



<table class="table" style="background-color:azure">
    <thead>
        <tr>
            <th>Nazwa Sportu</th>


            <th>
                <a asp-action="Dodaj" class="btn btn-danger btn-sm">Dodaj nowy</a>

            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Nazwa)</td>

                <td><a asp-action="Usun" asp-route-id="@item.Id" class="btn btn-success btn-sm" style="margin-bottom:3px">Usun</a></td>
                <td><a asp-action="Edytuj" asp-route-id="@item.Id" class="btn btn-success btn-sm" style="margin-bottom:3px">Edytuj</a></td>

                <td>
                    @*<a asp-action="Details" asp-route-id="@item.Id" class="btn btn-success btn-sm" style="margin-bottom:3px">Szczegóły</a>
                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-success btn-sm" style="margin-bottom:3px">Edytuj</a>
                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-success btn-sm" style="margin-bottom:3px">Usuń</a>*@
                </td>


            </tr>
        }
    </tbody>
</table>